<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/vishalgr/index.json" />
		<add key="NuGet v2" value="https://www.nuget.org/api/v2/" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="vishalgr" />
            <add key="ClearTextPassword" value="1be8edb2f48ea39b89065040dd36782587ef8366" />
        </github>
    </packageSourceCredentials>
</configuration>
