<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="AccessKey" value="AKIA3FGJXRIV3GXDU" />
		<add key="SecretKey" value="bNXALcOJgSJUjtObzLpNAXJ5In5gMcO1orVwtp" />
		<add key="amiId" value="ami-09194d33023cff7" />
		<add key="securityGroupId" value="sg-010be23ad155685" />
		<add key="keyPairName" value="DevOps_Wi" />
		<add key="instanceSize" value="t2.micro" />
		<add key="subnetId" value="subnet-cc483b4" />
	</appSettings>
</configuration>
