<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="AccessKey" value="AKIA3FGJXRIV3GXDUQON" />
		<add key="SecretKey" value="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" />
		<add key="amiId" value="ami-09194d3374023cff7" />
		<add key="securityGroupId" value="sg-010be23ad158d5685" />
		<add key="keyPairName" value="DevOps_Wi" />
		<add key="instanceSize" value="t2.micro" />
		<add key="subnetId" value="subnet-cc4083b4" />
	</appSettings>
</configuration>